.vtelegram_settings_address_error {
    margin-bottom: 20px;
}

.vtelegram_box.vtelegram_hidden {
    display: none;
}

.vtelegram_box {
    display: block;
    width: 560px;
    font-size: 13px;
}

.vtelegram_validation_img {
    width: 160px;
    height: 160px;
    background: url('https://st.vk.com/images/join/finish_f.png') no-repeat 0 0;
    margin: 0 auto 25px;
}

.vtelegram_import_start_img {
    width: 160px;
    height: 160px;
    margin: 0 auto 25px;
    display: block;
}

.vtelegram_validation_text {
    margin: 20px 0;
    text-align: center;
}

.vtelegram_validation_other_phone {
    display: block;
    width: 200px;
    margin: 0 auto 0;
    text-align:center;
}

.vtelegram_validation_row {
    width: 200px;
    margin: 0 auto 10px;
}

.vtelegram_validation_submit_row {
    width: 200px;
    margin: 10px auto 0;
}

.vtelegram_dialog_footer {
    padding: 14px 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.vtelegram_validation_no_code {
    text-align: center;
    font-size: inherit;
    margin-bottom: 5px;
}

.vtelegram_validation_no_code:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* =========== telegram auth ============== */

.vtelegram_box_body {
    padding: 20px 25px;
    line-height: 19px;
    background-color: #ffffff;
}

/* ======================================== */


/* =============== Settings Form =============== */

.vtelegram_settings_panel {
    margin: 0px 20px;
}
.vtelegram_clear_fix {
    display: block;
}

.vtelegram_clear_fix::after {
    clear: both;
}
.vtelegram_clear_fix::after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.vtelegram_settings_info_block {
    line-height: 16px;
}

.vtelegram_settings_right_control {
    float: right;
    padding: 6px 0px 0px;
}

.vtelegram_settings_labeled_text {
    padding-top: 6px;
    margin: 0px auto 8px 0;
}

.vtelegram_settings_text_grey {
    color: var(--gray_600) ;
}

.vtelegram_settings_change_block {
    display: none;
}

.vtelegram_settings_row {
    margin-bottom: 15px;
    line-height: 16px;
}

.vtelegram_settings_label {
    width: 145px;
    line-height: 24px;
    float: left;
    padding: 6px 10px 6px 0px;
}

.vtelegram_settings_labeled {
    margin-left: 155px;
}

.vtelegram_settings_line .vtelegram_settings_row_button_wrap {
    margin-bottom: 10px;
    padding-left: 155px;
}

.vtelegram_settings_row_button_wrap {
    margin: 15px 0px;
    padding-left: 155px;
}

.vtelegram_prefix_input_wrap {
    position: relative;
    height: 30px;
    line-height: 16px;
    cursor: text;
    background-color: #f7f8fa;
    border-radius: 3px;
}

.vtelegram_prefix_input_field {
    overflow: hidden;
    white-space: nowrap;
    margin-right: 1px;
}

.vtelegram_prefix_input {
    padding-left: 0;
    padding: 5px 9px 7px;
    margin-top: 1px;
    height: 28px;
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    color: #000;
}

.vtelegram_settings_row_hint {
    font-size: 12.5px;
    padding-top: 6px;
    color: #626d7a;
}

.vtelegram_settings_line.vtelegram_unfolded {
    background-color: #fafbfc;
    margin: -1px -20px 0;
    border-top: 1px solid #dce1e6;
    cursor: default;
    padding-left: 20px;
    padding-right: 20px;
}

.vtelegram_settings_line.vtelegram_unfolded .vtelegram_settings_info_block {
    display: none
}

.vtelegram_settings_line.vtelegram_unfolded .vtelegram_settings_change_block {
    display: block
}

.vtelegram_settings_line.vtelegram_unfolded:hover .vtelegram_settings_right_control {
    text-decoration: none
}

.vtelegram_settings_line.vtelegram_unfolded .vtelegram_settings_right_control:hover {
    text-decoration: underline
}

.vtelegram_settings_line[onclick] {
    cursor: pointer;
}

.vtelegram_settings_line ~ .vtelegram_settings_line {
    margin: 0;
}

.vtelegram_settings_line {
    margin: 0;
    padding: 15px 0 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.vtelegram_settings_line.unfolded
.vtelegram_settings_info_block {
    display: none;
}

.vtelegram_settings_panel .vtelegram_settings_line:last-child, .vtelegram_settings_panel .vtelegram_settings_line.vtelegram_settings_line_last {
    border-bottom: none
}
/* ============================================= */
